@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap");

.settings-div {
  display: flex;
  margin-left: 20%;
}
.userinfo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  width: 100%;
}

.user-info-div {
  margin-bottom: 5%;
}

.user-info {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
@media only screen and (min-device-width: 280px) and (max-device-width: 812px) {
  .settings-div {
    padding-top: 25%;
    margin-left: 0;
  }
}
