.create-task-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
  width: 100%;
}

.input {
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-text {
  border-radius: 40px;
  padding-left: 0px;
  height: 30px;
  width: 45rem;
  border-radius: 10px;
  border-color: white;
  padding-left: 5px;
  background-color: #c4c4c4;
  font-family: "Oswald", sans-serif;
  color: #002bc2;
  font-size: 1.2rem;
}
.input-text-description {
  border-radius: 40px;
  padding-left: 0px;
  height: 15rem;
  width: 45rem;
  border-radius: 10px;
  border-color: white;
  padding-left: 5px;
  background-color: #c4c4c4;
  font-family: "Oswald", sans-serif;
  color: #002bc2;
  font-size: 1.2rem;
}

::placeholder {
  color: #fffefe;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 812px) {
  .create-task-form {
    margin-left: 0%;
  }

  .input {
    /* width: 50%; */
  }
  .input-text {
    width: 20rem;
  }
  .input-text-description {
    width: 20rem;
  }
}
